<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><?=$html_title?></title>
<link href="<?php echo CSS_PATH?>global.css" rel="stylesheet" type="text/css" />
<link href="<?php echo CSS_PATH?>CalendarControl.css" rel="stylesheet" type="text/css">
<style type="text/css">
.header{
	background: url(http://<?=$_SERVER['HTTP_HOST']?>/www.russlls-famous-cookies.com/images/page-images/<?=((isset($heading_image)) ? $heading_image : "")?>) 0 0 no-repeat;
}	
.banner{
	background: url(http://<?=$_SERVER['HTTP_HOST']?>/www.russlls-famous-cookies.com/images/page-images/<?=((isset($banner_image)) ? $banner_image : "")?>) 0 0 no-repeat;
}
</style>
<script src="<?php echo JS_PATH?>CalendarControl.js" language="javascript"></script>
<script src="<?php echo JS_PATH?>jquery-1.7.1.min.js" language="javascript"></script>
<script src="<?php echo JS_PATH?>other.js.php" language="javascript"></script>
</head>
<body>
<div id="framesheet">
	<div id="header" class="header">
		<div class="view-cart"><a href="cart.php"><span class="invisible">View Cart</span></a></div>
		<div class="news"><a href="news.php"><span class="invisible">News</span></a></div>
		<div class="blog"><a href="blog.php"><span class="invisible">Blog</span></a></div>
		<div class="email-us"><a href="<?php echo WEB_PATH?>contact_us.php"><span class="invisible">Email Us</span></a></div>
	</div>
	<div id="content-body">
		<div id="banner" class="banner"></div>		
        <div class="back-to-home"><a href="<?php echo WEB_PATH?>index.php">Back To Shop Page</a></div>
		<div id="shop-box">
			<div id="payment-box">
                <?php if (isset($error_message) && ($error_message)):?>
                <span id="productQtyErrorMessage">Please fix these errors !</span>                        
                <?php endif;?>
				<form id="billingAndShippingForm" name="billingAndShippingForm" method="post" action="">                
				<div id="payment-data">
					<div id="payment-address">
						<h3>BILLING ADDRESS</h3><br />
						<div class="address-box" style="margin:0 0 10px -62px;">
                        	<table border="0" cellpadding="0" cellspacing="0">
                            	<tr>
                                	<td valign="top" class="address-lable-left">Name :&nbsp;&nbsp;</td>
                                	<td><input name="billingDetails[billing_name]" type="text" class="input-element <?php echo ((isset($errors)) && (in_array("billing_name", $errors['errorFields']))) ? 'errorInBack' : ''?>" value="" /><br />&nbsp;</td>                                    
                                </tr>
                            	<tr>
                                	<td valign="top" class="address-lable-left">Address :&nbsp;&nbsp;</td>
                                	<td><textarea name="billingDetails[billing_address]" class="input-element <?php echo ((isset($errors)) && (in_array("billing_address", $errors['errorFields']))) ? 'errorInBack' : ''?>"></textarea><br />&nbsp;</td>                                    
                                </tr>
                            	<tr>
                                	<td valign="top" class="address-lable-left">City :&nbsp;&nbsp;</td>
                                	<td><input name="billingDetails[billing_city]" type="text" class="input-element <?php echo ((isset($errors)) && (in_array("billing_city", $errors['errorFields']))) ? 'errorInBack' : ''?>" value="" /><br />&nbsp;</td>                                    
                                </tr>
                            	<tr>
                                	<td valign="top" class="address-lable-left">State :&nbsp;&nbsp;</td>
                                	<td><input name="billingDetails[billing_state]" type="text" class="input-element <?php echo ((isset($errors)) && (in_array("billing_state", $errors['errorFields']))) ? 'errorInBack' : ''?>" value="" /><br />&nbsp;</td>                                    
                                </tr>
                            	<tr>
                                	<td valign="top" class="address-lable-left">Zip Code :&nbsp;&nbsp;</td>
                                	<td><input name="billingDetails[billing_zip_code]" type="text" class="input-element <?php echo ((isset($errors)) && (in_array("billing_zip_code", $errors['errorFields']))) ? 'errorInBack' : ''?>" value="" /><br />&nbsp;</td>                                    
                                </tr>
                            	<tr>
                                	<td valign="top" class="address-lable-left">Telephone :&nbsp;&nbsp;</td>
                                	<td><input name="billingDetails[billing_telno]" type="text" class="input-element <?php echo ((isset($errors)) && (in_array("billing_telno", $errors['errorFields']))) ? 'errorInBack' : ''?>" value="" /><br />&nbsp;</td>                                    
                                </tr>
                            	<tr>
                                	<td valign="top" class="address-lable-left">Email :&nbsp;&nbsp;</td>
                                	<td><input name="billingDetails[billing_email]" type="text" class="input-element <?php echo ((isset($errors)) && (in_array("billing_email", $errors['errorFields']))) ? 'errorInBack' : ''?>" value="" /><br />&nbsp;</td>                                    
                                </tr>
                            </table>
						</div>
						<input id="shippingAddressCheckBox" name="shippingAddressCheckBox" type="checkbox" /><span id="productQtyInfoMessage" style="margin:0;">&nbsp;Check if shipping address are not same !</span><br /><br />
					</div>							
                   	<div id="payment-address-shipping" class="hide"><br />
						<h3 style="font-size:11px; margin-left:-110px; margin-bottom:-10px;">Shipping Adress (If Different)</h3>
						<div class="option-box" style="margin-left:-140px; margin-top:30px; width: 280px;">
                        	<table border="0" cellpadding="0" cellspacing="0">
                            	<tr>
                                	<td valign="top" class="address-lable-left">Name :&nbsp;&nbsp;</td>
                                	<td><input name="shippingDetails[shipping_name]" type="text" class="input-element <?php echo ((isset($errors)) && (in_array("shipping_name", $errors['errorFields']))) ? 'errorInBack' : ''?>" value="" /><br />&nbsp;</td>                                    
                                </tr>
                            	<tr>
                                	<td valign="top" class="address-lable-left">Address :&nbsp;&nbsp;</td>
                                	<td><textarea name="shippingDetails[shipping_address]" class="input-element <?php echo ((isset($errors)) && (in_array("shipping_address", $errors['errorFields']))) ? 'errorInBack' : ''?>"></textarea><br />&nbsp;</td>                                    
                                </tr>
                            	<tr>
                                	<td valign="top" class="address-lable-left">City :&nbsp;&nbsp;</td>
                                	<td><input name="shippingDetails[shipping_city]" type="text" class="input-element <?php echo ((isset($errors)) && (in_array("shipping_city", $errors['errorFields']))) ? 'errorInBack' : ''?>" value="" /><br />&nbsp;</td>                                    
                                </tr>
                            	<tr>
                                	<td valign="top" class="address-lable-left">State :&nbsp;&nbsp;</td>
                                	<td><input name="shippingDetails[shipping_state]" type="text" class="input-element <?php echo ((isset($errors)) && (in_array("shipping_state", $errors['errorFields']))) ? 'errorInBack' : ''?>" value="" /><br />&nbsp;</td>                                    
                                </tr>
                            	<tr>
                                	<td valign="top" class="address-lable-left">Zip Code :&nbsp;&nbsp;</td>
                                	<td><input name="shippingDetails[shipping_zip_code]" type="text" class="input-element <?php echo ((isset($errors)) && (in_array("shipping_zip_code", $errors['errorFields']))) ? 'errorInBack' : ''?>" value="" /><br />&nbsp;</td>                                    
                                </tr>
                            	<tr>
                                	<td valign="top" class="address-lable-left">Telephone :&nbsp;&nbsp;</td>
                                	<td><input name="shippingDetails[shipping_telno]" type="text" class="input-element <?php echo ((isset($errors)) && (in_array("shipping_telno", $errors['errorFields']))) ? 'errorInBack' : ''?>" value="" /><br />&nbsp;</td>                                    
                                </tr>
                            </table>
						</div>
                    </div>
				</div>
				<input type="submit" name="billingInformationButton" class="complete-purchase-btn-element" value="Billing Information" />
                </form>
			</div>
		</div>
		<br /><br /><br />
	</div>
	<div id="footer">
        <div class="home"><a href="index.php"><span class="invisible">Home</span></a></div>
        <div class="contact-us"><a href="contact_us.php"><span class="invisible">Contact Us</span></a></div>
        <div class="privacy-policy"><a href="privacy_policy.php"><span class="invisible">Privacy Policy</span></a></div>
        <div class="ikonixstudios"><a href="http://www.ikonixstudios.com" target="_blank"><span class="invisible">ikonix studios</span></a></div>
    </div>
</div>
</body>
</html>